{% load static %}
<!DOCTYPE html>


<html class = "no-js" lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ variable }}</title>
        <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        {% block css %}
        {% endblock %}
    </head>

    <body>
            
        <div class="grid-x nav-bar">
            <div class="cell small-4 large-4">
                <ul class="menu align-left">
                    <li>
                        <a href="/monster_maker/">
                            <img class="icon-image" src = "{% static 'media/alien.png' %}">
                        </a>
                    </li>
                </ul>
            </div>
            <div class = "cell small-4 large-4">
                <ul class = "menu align-center">
                    <li>
                        <a href="/">
                            <img class="icon-image" src = "{% static 'media/dragon.png' %}">
                        </a>
                    </li>
                </ul>
            </div>
            <div class = "cell small-4 large-4">
                <ul class = "menu align-right">
                    <li>
                        <a href="/hunters_lodge/of_durb">
                            <img class="icon-image" src="https://cdn4.iconfinder.com/data/icons/beer-line/100/l-23-512.png"> 
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    

        {% block content %}
        {% endblock %}

        
        <!-- Vue goodies development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="{% static "js/myView.js" %}"></script>
        <!-- Foundation goodies-->
        <script src="{% static 'js/vendor/foundation.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.js' %}"></script>
        <script src="{% static 'js/vendor/what-input.js' %}"></script>
        <!-- Phaser goodies -->
        <script src="//cdn.jsdelivr.net/npm/phaser@3.20.1/dist/phaser.js"></script>
        <script src="//cdn.jsdelivr.net/npm/phaser@3.20.1/dist/phaser.min.js"></script>
        
        {% block scripts %}
        {% endblock %}
        
    </body>

</html>