{% load static %}
<!DOCTYPE html>


<html class = "no-js" lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ variable }}</title>
        <link rel="stylesheet" href="{% static "css/foundation.css" %}">
        {% block css %}
        {% endblock %}
    </head>
            
    <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle="example-menu"></button>
        <div class="title-bar-title">Menu</div>
    </div>
        
    <div class="top-bar" id="example-menu">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">Site Title</li>
            <li>
                <a href="#">One</a>
                <ul class="menu vertical">
                <li><a href="#">One</a></li>
                <li><a href="#">Two</a></li>
                <li><a href="#">Three</a></li>
                </ul>
            </li>
            <li><a href="#">Two</a></li>
            <li><a href="#">Three</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
            <li><input type="search" placeholder="Search"></li>
            <li><button type="button" class="button">Search</button></li>
            </ul>
        </div>
    </div>

        {% block content %}
        {% endblock %}

        
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <!-- Foundation goodies-->
        <script src="{% static 'js/vendor/foundation.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.js' %}"></script>
        <script src="{% static 'js/vendor/what-input.js' %}"></script>
        <script src="{% static "js/myView.js" %}"></script>
        <!-- Phaser goodies -->
        <script src="//cdn.jsdelivr.net/npm/phaser@3.20.1/dist/phaser.js"></script>
        <script src="//cdn.jsdelivr.net/npm/phaser@3.20.1/dist/phaser.min.js"></script>
        
        {% block scripts %}
        {% endblock %}
        
    </body>

</html>